@model PLCWebControl.Models.StateDataModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-controller="Home" asp-action="Send" method="post">
        <div asp-validation-summary="All"></div>

        <label asp-for="Buttons"></label>
        <input type="text" asp-for="Buttons" />
        <label asp-for="Sensors"></label>
        <input type="text" asp-for="Sensors" />
        <label asp-for="WaterLevel"></label>
        <input type="text" asp-for="WaterLevel" />
        <label asp-for="Inflow"></label>
        <input type="text" asp-for="Inflow" />

        <input type="submit" />
    </form>
</div>
