@model PLCWebControl.Models.CommandDataModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        <li>Buttons = @ViewData["Buttons"]</li>
        <li>Sensors = @ViewData["Sensors"]</li>
        <li>WaterLevel = @ViewData["WaterLevel"]</li>
        <li>Inflow = @ViewData["Inflow"]</li>
    </ul>
</div>

<div class="text-center">
    <form asp-controller="Home" asp-action="Send" method="post">
        <div asp-validation-summary="All"></div>

        <label asp-for="Buttons"></label>
        <input type="text" asp-for="Buttons" />
        <label asp-for="DesiredInflow"></label>
        <input type="text" asp-for="DesiredInflow" />

        <input type="submit" />
    </form>
</div>
